@model CadastroJogo.Models.Jogo

@{
    ViewBag.Title = "Index";
}

<h2>Cadastro e apresentação de jogos para PS5 (Playstation 5) </h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Dados do Jogo</legend>
        <div class="editor-label">
            Nome
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>

        <div class="editor-label">
            Versão do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Versao)
            @Html.ValidationMessageFor(model => model.Versao)

        </div>
        <div class="editor-label">
            Desenvolvedor
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Desenvolvedor)
            @Html.ValidationMessageFor(model => model.Desenvolvedor)
        </div>
        <div class="editor-label">
            Gênero do jogo
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Genero)
            @Html.ValidationMessageFor(model => model.Genero)
        </div>
        <div class="editor-label">
            Faixa etária
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FaixaEt)
            @Html.ValidationMessageFor(model => model.FaixaEt)
        </div>
        <div class=" editor-label">
            Ano de lançamento
        </div>
        <div class=" editor-field">
            @Html.EditorFor(model => model.AnoLanc)
            @Html.ValidationMessageFor(model => model.AnoLanc)
        </div>

        <p><input type="submit" value="Cadastrar" /></p>
    </fieldset>

    @section Scripts{
        @Scripts.Render("~/bundles/jqueryval");
    }
}


